html {
     background-color: black;
     color: #b4b4b4;
}

a {color: #fff;
   font-size: small;
   text-decoration:none;  
}
nav {
     text-align: right; 
     margin: 5px;
     border-radius: 3px;
     background-color: rgb(95, 35, 94);
    
}

h1{
     background-color: purple;
     font-size: 20px;
     margin-top: 30px;
     text-align: left;
     padding: 5px;
     padding-right: 80%;
}
 h2 {
     color: #b4b4b4;
     font-size: 15px;
     margin: 20px;
     padding-right: 20px;
 }
.password {
     padding-right: 20px;
     margin-left: 75px;
}
.son {
     text-align: left;
     font-weight: bold;
     background-color: rgb(101, 15, 100);
     margin-right: 50%;
}

button {
     margin-left: 110px;
}
.sifre {
     margin-left: 70px;
}
.kayıt{
     margin-left: 135px;
}
.alt {
     margin-left: 50px;
}
.body {
     margin: 0 auto; text-align: center; width: 960px;
}

.container {
     display: flex;
     gap: 20px;
     flex-wrap: wrap;
     justify-content: space-evenly;
}

.writer {
     width: 300px;
}
img {
     width: 200px;
     height: 300px;
}


/* .eflatuncemguney {
     width: 200px;
     height: 300px;
     margin-left: 20px;
     
}

.eflatun {
     display:inline-block;
     padding-right: 80%;
     margin-left: 20px;
     
    
}
.halide {
     display:inline-block;
     padding-right: 80%;
     margin-left: 20px;     
     
}
.eflatun.baslık {
     display: inline-block;
     padding-right: 80%;
     margin-left: 20px;
    
}
.necip {
     display: inline-block;
     padding-right: 80%;
     margin-left: 20px;     
    
}
.Rıfat {
     display: inline-block;
     padding-right: 80%;
     margin-left: 20px;
     
} */