
a {color: #fff;
   font-size: small;
   text-decoration:none;
   
   
}
nav {
     text-align: right; 
     margin: 5px;
     border-radius: 3px;
     background-color: rgb(95, 35, 94);
    
}
html {
     background-color: black;
}
h1{
     background-color: purple;
     font-size: 20px;
     margin-top: 30px;
     text-align: left;
     padding: 5px;

 }
 h2 {
     color: #fff;
     font-size: 15px;
     margin: 20px;
     padding-right: 20px;
 }
.password {
     padding-right: 20px;
     margin-right: 20px;
}